.delivery_banner {
    background-color: #f2d8de; /* gold background */
    color: #831431;               /* text color */
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1); /* optional shadow */
}

.delivery_banner i {
    color: #831431; /* icon color (delivery van) */
}
